version: "3.9"

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-whats_nexus}
      POSTGRES_USER: ${POSTGRES_USER:-whats_nexus}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-whats_nexus}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    env_file:
      - .env
    environment:
      - WHATSAPP_VERIFY_TOKEN=${WHATSAPP_VERIFY_TOKEN:-nexus_segredo_2026}
    ports:
      - "8005:8000"
    depends_on:
      - db
    volumes:
      - .:/app
      - static_volume:/app/staticfiles

volumes:
  postgres_data:
  static_volume:

